<div class="container">
    <h2>Player {{currentPlayer}}'s turn</h2>
    <h3>{{winner ? 'The Winner Is ' + winner : tie ? 'There Is a Tie!' : 'Game Is On!'}}</h3>
    <button
    class="resetButton"
    *ngIf="winner || tie"
    (click)="resetGame()" 
    >Reset Game</button>
    <div>
        <app-square
        *ngFor="let square of board; index as index"
        [scorer]="square"
        [winner]="winner"
        [tie]="tie"
        (eventEmitter)="playerClicked(index, currentPlayer)"
        ></app-square>    
    </div>
</div>